.add_form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    padding: 1rem;
    gap: 1rem;
}

.add_form .input_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}