.comment_item{
    list-style: none;
    background-color: var(--main-gray-light);
    padding:  15px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    border-radius: 10px;
}

.comment_item .comment_section{
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li .card-cta{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    align-items: center;
}

.img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

/* message section */
.msg-section{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.msg-section .msg_data_container{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.img-avatar{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.msg-cta{
    display: flex;
    gap: 0.2rem;
    align-items: center;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .comment_item{
        padding: 10px;
    }
    .img{
        width: 60px;
        height: 60px;
    }
    .img-avatar{
        width: 30px;
        height: 30px;
    }
}