header {
   background-color: var(--main-brown);
   padding: 5px 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   width: 100%;
}

header a {
   color: var(--main-gray-light);
   text-decoration: none;
}

header ul li {
   list-style: none;
   color: var(--main-gray-light);
   cursor: pointer;
}

#nav {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

#nav .nav_list {
   display: flex;
   flex-direction: row;
   gap: 1rem;
}

#navbar_button_close,
#navbar_button_hamburger {
   display: none;
   cursor: pointer;
}

.search_bar_container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.2rem;
   position: relative;
   margin-right: 1rem;
}

.search_bar_container .search_bar {
   border-radius: 3px;
   padding: 7px 5px;
   border: none;
   width: 500px;
   background-color: var(--main-gray);
}

.search_bar_container .search_bar:focus{
   background-color: white;
}
.search_button {
   position: absolute;
   right: 0;
   height: 100%;
   cursor: pointer;
   border-radius: 3px;
   border: none;
   padding: 0 5px;
   background-color: var(--main-gray);
}

.search_icon {
   color: black;
   background-color: var(--main-gray);
   display: block;
   width: 100%;
}

/* Dropdown Button */
.dropbtn {
   border: none;
   background-color: transparent;
   color: var(--main-gray-light);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   top: 38px;
   left: -50px;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 200;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
   background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
   display: block;
}
#nav .nav_item {
   transition: 200ms ease-in;
   padding: 10px 0;
}

#nav .nav_item:hover {
   color: white;
}

@media screen and (max-width: 768px) {
   header {
      justify-content: start;
      padding: 20px;
   }

   #nav {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      padding-top: 100px;
   }

   #nav .search_bar_container {
      margin: 0;
      width: 100%;
   }

   #nav .search_bar_container .search_bar {
      width: 100%;
   }
   #navbar_button_hamburger {
      display: inline;
      font-size: 30px;
      position: absolute;
      right: 20px;
      color: white;
   }

   #navbar_button_close {
      position: absolute;
      right: 20px;
      top: 10px;
      display: flex;
      font-size: 30px;
      color: var(--main-red);
   }

   #navbar_button_close:hover {
      color: orangered;
   }

   #nav {
      position: fixed;
      top: 0;
      right: -100%;
      background-color: var(--main-black);
      width: 85%;
      height: 100%;
      padding: 50px 20px;
      z-index: 1;
      transition: 300ms ease-in-out;
   }

   #nav .nav_list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
   }

   /* #nav .nav_item{
      margin: rem 0;
   } */
}
