header {
   background-color: royalblue;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   width: 100%;
}

header a {
   color: gold;
   text-decoration: none;
}

header ul li {
   list-style: none;
}

nav ul {
   display: flex;
   flex-direction: row;
   gap: 0.8rem;
}

.search_bar {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.2rem;
   position: relative;
}

/* .search_bar{
} */

.search_button {
   position: absolute;
   right: 0;
   height: 100%;
   cursor: pointer;
}

.search_icon {
   color: black;
   background-color: white;
   display: block;
   width: 100%;
}

/* Dropdown Button */
.dropbtn {
   border: none;
   background-color: transparent;
   color: gold;
 }
 
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 /* Links inside the dropdown */
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 
 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #ddd;}
 
 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {display: block;}
 


@media screen and (max-width: 768px) {
   header  {
      justify-content: start;
   }
   .search_bar {
      visibility: hidden;
   }
   nav{
       visibility: hidden;
   }
}